@import "../../../shared";

@mixin stacked {
    display: flex;
    flex-direction: column;
}

.creditcard {
    @include element('box') {
        border: 1px solid $grey-text;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: unset;
        }

        @include element('message') {
            font-size: 0.9rem;
            margin: 10px 0;
        }

        @include element('row') {
            display: flex;
            flex-direction: row;

            @include element('input') {
                @include stacked;
                margin-right: 10px;

                @include element('label') {
                    font-size: 0.7rem;
                    font-weight: bold;
                }

                @include element('field') {
                    width: 200px;

                    @include modifier('large') {
                        width: 430px;
                    }

                    @include modifier('small') {
                        width: 90px;
                    }
                }

                @include element('select') {
                    width: 100px;
                    height: 100%;

                    @include modifier('large') {
                        width: 200px;
                    }
                }
            }
        }
    }
}