@import "../../shared.scss";

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $navbar-height;
    font-size: 1.1rem;

    @include element('center') {
        color: $grey-text;

        @include element('link') {
            padding: 0 15px;
        }
    }

    @include element('right') {
        display: flex;
        flex-direction: row;

        @include element('item') {
            display: flex;
            flex-direction: row;
            padding: 0 10px;

            &:last-child {
                padding-right: 0;
            }
            &:first-child {
                padding-left: 0;
            }
        }
    }
}