@import "../../shared.scss";

$feedback-spacer-height: 100px;

.feedback {
    padding-top: $feedback-spacer-height;
    height: calc(100% - #{$feedback-spacer-height} - #{$navbar-height});
    width: 100%;

    @include element('header') {
        display: flex;
        flex-direction: row;
        @include element('details') {
            font-size: 2.4rem;
            padding-right: 10%;
        }

        @include element('line') {
            display: flex;
            align-items: center;
            padding: 0 10px;
        }
    }

    @include element('line') {
        margin: 20px 0 40px;
    }

    @include element('body') {
        height: 100%;
    }
}