@import "../../../shared.scss";

.step-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    @include element('number') {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        border: 1px solid white;
        font-size: 1.1rem;

        @include modifier('current') {
            background-color: $standard-blue;
            border-color: $standard-blue;
        }

        @include modifier('complete') {
            background-color: $complete-green;
            border-color: $complete-green;
            color: black;
        }
    }

    @include element('name') {
        margin: 0 5px;
        user-select: none;
    }
}