@mixin element($element) {
  &__#{$element} {
    @content;
  }
}
  
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin roundButton($size) {
  display: flex;
  border-radius: $size;
  height: $size;
  width: $size;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

$navbar-height: 40px;
$grey-text: #757575;
$standard-blue: #42A5F5;
$complete-green: #00E676;